.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login, .quiz{
  width: 500px;
  height: 500px;
  background-color: royalblue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login, .quiz{
  color: whitesmoke;
}

div.list{
  width: 400px;
  height: 300px;
  overflow-y: scroll;
  background-color: royalblue;
  margin: 10px;
}

.board{
  width: auto;
  height: auto;
  color: whitesmoke;
  background-color: orange;
  margin: 5px;
}

.login button, .quiz button{
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
}

.score{
  width: 500px;
  height: 500px;
  background-color: royalblue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input, button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}

#display {
  border: 1px solid;
  margin-top: 20px;
  padding: 34px;
}

